{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>

    {% block meta %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width" />
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'bulma/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Sprouts</title>
</head>

<body>

    {% block page_header %}
    {% endblock %}

    {% block content %}
    <button class="button is-primary">

    </button>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non eros sem. Quisque eu nulla nec quam laoreet
    blandit et quis libero. Nulla sit amet massa vel odio malesuada viverra. Curabitur lacinia sapien et enim semper,
    vel bibendum nisi mattis. Praesent felis tellus, vestibulum sed dui a, vulputate convallis nunc. Donec massa augue,
    fringilla tempor sodales ac, blandit id leo. Quisque sem nulla, blandit nec feugiat et, vulputate id magna. Proin
    mattis sollicitudin ex, nec iaculis neque tempor eu. Cras rhoncus congue libero at pellentesque. Donec ultricies
    purus nec porttitor aliquam. Aliquam ullamcorper urna sit amet scelerisque convallis. Interdum et malesuada fames ac
    ante ipsum primis in faucibus. Fusce bibendum nibh vitae convallis porta. Nam dignissim luctus vulputate. Integer
    faucibus enim eu purus mattis auctor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia curae;

    Quisque et erat orci. Praesent vel tortor ac ante consectetur hendrerit. Curabitur in ex vitae est egestas ultrices
    vitae ac elit. Suspendisse sodales porttitor nibh, et auctor mi vehicula vel. Ut feugiat a velit vel tincidunt.
    Phasellus vel magna pharetra, semper nunc et, iaculis ex. Donec at enim nisi. Cras quis cursus purus. Aliquam mollis
    turpis sed velit pretium laoreet. Fusce ut maximus augue. Duis ut turpis fermentum, lobortis erat ac, mattis neque.
    Vestibulum finibus justo et enim varius, sed sollicitudin ligula dapibus. Donec eu odio elementum, mollis enim ut,
    convallis odio. Vivamus sed sollicitudin ex.
    </p>
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

</body>

</html>